@page "/Rating"

<style>
    .selected {
        background-color: #ff6a00;
    }

    .star {
        display: inline-block;
        text-align: center;
        margin-right: 10px;
        color: gray;
        height: 20px;
        width: 20px;
        background-color:grey;
    }

</style>


<h1>Star Rating</h1>
<div>
    @for(var i = 1; i<=5;i++){
        var ratingValue = i;
        <span class="star @GetstarRating(i)" @onclick="()=>SetRating(ratingValue)">@ratingValue &#11088;</span>
        
    }
</div>

<div>
    Your Rating is : @currentRating
</div>


@code {
    int currentRating = 0;
    private void SetRating(int rating)
        {
        currentRating = rating;
        }
    string GetstarRating(int startNo)
        {
        return startNo <= currentRating ? "selected" : "";
        }
}
