<div>
    <div>
        <h3 class="calculator-heading">Calculator</h3>
        Enter the first number:<input id="first_number"/>
        Enter the second number:<input id="second_number" />
    </div>

 <div class="calculator-btn">
<button class="btn btn-primary">Add</button>
<button class="btn btn-primary">Substract</button>
<button class="btn btn-primary">Multiple</button>
<button class="btn btn-primary">Divide</button>
</div>

<p>The result is :@result</p>
</div>
@code {
    // double first_number = double.Parse(first_number.Value);
    // double second_number = double.Parse(second_number.Value);
    private double result; 
   




}
