@page "/"

<style>
    span{
        color: #F7418F;
    }
    img{
        width:800px;
        height:450px;
    }
</style>


<h1>Hello, <span>Girls</span>♥</h1>

<h4>Welcome to our women-only gym!</h4>

@* this picture is from https://www.goodlifefitness.com/for-women.html  *@
<img src="https://www.goodlifefitness.com/content/experience-fragments/goodlife/for-women/text-banner1/spaces-that-inspire/_jcr_content/root/responsivegrid/responsivegrid/image.coreimg.90.1440.jpeg/1586270916808/forwomenpage-spacesthatinspire.jpeg" alt="women in the gym" />
