@page "/Manage"

<h3>Manage Membership</h3>

<style>
    p {
        display: inline-block;
        margin-right: 80px;
    }
</style>

<section>
   <table>
        <tr><td>First Name</td> <td>Last Name</td> <td>Email</td></tr>
        @foreach(var m in members)
            {
            <tr>
                <td>@m.FirstName</td>
                <td>@m.LastName</td>
                <td>@m.EmailAddress</td>
                <button>Edit</button>
                <button>Delete</button>
            </tr>
            }



   </table>

    
</section>





@code {
    List<Member> members = MemberManager.RetriveMember();



}



