@page "/Manage"


<style>
    section{
        margin-bottom:30px;
    }
    h1{
        margin-bottom:20px;
        color: #F7418F;
    }
    td{
        font-size: 20px;
        width:20%;
        margin-right:15px;
        border-bottom: 1px solid #B4B4B8;
        padding: 10px;
    }






    button{
        margin: 10px 30px 10px 30px;
        font-size: 18px;
        border: 1px solid #FEBBCC;
        border-radius: 10px;
        padding:10px;
    }

    p {
        color: #FFA1CF;
        font-size: 16px;
    }

    input {
        height: 30px;
        padding: 10px;
        border: 1px solid #31363F;
        border-radius: 5px;
        margin-bottom:20px;
    }
  
</style>



<h1>Manage Membership</h1>
<section>  
   <table >
        <tr><td>First Name</td> <td>Last Name</td> <td>Email</td></tr>
        @foreach(var m in members)
            {
            <tr>
                <td>@m.FirstName</td>
                <td>@m.LastName</td>
                <td>@m.EmailAddress</td>
                <div>
                    <button @onclick="()=> ReceiveMember(m)">Edit</button>
                    <button @onclick="()=>RemoveMember(m)">Delete</button>
                </div>
              
            </tr>
            }
   </table>
</section>
@if (edit)
    {
    <section>
        <div>
            <label>First name:</label>
            <input @bind="first_name" />
        </div>
        <div>
            <label>Last name:</label>
            <input @bind="last_name" />
        </div>

         <button @onclick="UpdateMember">Confirm</button> 
    </section>
    }
@if(delete)
    {
    <div><h6>Do you want to delete?</h6>
        <button @onclick="CancelToDelete">No</button>  <button @onclick="ConfirmToDelete">Yes</button>
    </div>
    }
<p>@message</p>




@code {

    List<Member> members = MemberManager.RetriveMember();
    string email;
    string first_name;
    string last_name;
    bool edit = false;
    bool delete = false;
    bool confirmed = false;
    string message;

    void ReceiveMember(Member member)
        {
        edit = true;
        first_name = member.FirstName;
        last_name = member.LastName;
        email = member.EmailAddress;

        }

    void UpdateMember()
        {
        message =  MemberManager.EditMember(first_name, last_name, email);
        edit = false;
        }


    void RemoveMember(Member member)
        {
        message = "";
        delete = true;  
        email = member.EmailAddress;
        }


    void ConfirmToDelete()
        {
          
        message = MemberManager.DeleteMember(email);
        delete = false;
        }

    void CancelToDelete()
        {
        delete = false;
        }
}



